@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Nunito:ital,wght@1,300&family=Open+Sans:ital,wght@0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@1,200;1,400;1,600;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right , #01022d, #000);
  overflow: hidden;
}
header {
  width: 100%;
}
.container {
  background-position: center;
  width: 75%;
  height: 640px;
  background-image: linear-gradient(to right , #01022de5 30% , #00000088),
  url(../imgs/Avatar.webp)
  ;
  margin: auto;
  overflow: hidden;
}
.container:hover {
  background-image: linear-gradient(to right , #01022de5 30% , transparent),
  url(../imgs/Avatar.webp)
  ;
  
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
nav .logo {
  font-size: 30px;
  text-transform: uppercase;
}
nav ul {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}
nav ul a {
  border-bottom: 2px solid transparent;
  transition: .3s;
}
nav ul a:hover {
  border-bottom-color: #fff;
}
.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 50px;
  padding: 30px;
  width: 50%;
}
.content h2 {
  font-size: 90px;
  text-transform: uppercase;
}
.content p {
  width:350px;
  letter-spacing: 3px;
  padding: 20px 0;
}
.content button {
  font-size: 30px;
  padding: 6px 10px;
  color: #000 !important;
  border-radius: 10px;
  cursor: pointer;
  transition: .5s;
  border: 2px solid transparent;
  width: 250px;
}
.content button:hover {
  border-color: #fff;
  background-color: transparent;
  color: #fff !important;
}
@media (max-width:700px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    width: 100%;
  }
}
@media (max-width:600px) {
  .content h2 {
    font-size: 50px;
  }
  .content button {
    font-size: 20px;
  }
}
@media (max-width:500px) {
  .content {
    padding: 30px 0;
  }
  .content p {
    letter-spacing: normal;
    width:200px;
  }
}